.about section {
    padding-top: 7vw;

    &.life { 
        padding-top: 15vw;

        @media screen and (min-width: $screen-md) {
            padding-top: 10vw;
        }
    }
}

.post {
    margin-bottom: 15vw;
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }

    .t-6 {
        margin-bottom: 4vw;
    }

    @media screen and (max-width: $screen-md - 1) {
        p,
        .post__heading,
        .post__footnote { 
            margin-left: 5vw;
            max-width: 85%;
        }

        .post__heading {
            margin-bottom: -7vw;
            position: relative;
            z-index: 1;

            .t-gold {
                text-shadow: 0 0 3px rgba(0,0,0,0.3);
            }
        }

        .post__image {
            margin: 0 0 70px;
            min-width: 100%;
            max-width: 100%;
        }
    }

    @media screen and (max-width: $screen-sm - 1) {
        .post__image {
            margin: 0 -7vw 30px;
            min-width: 100vw;
            max-width: 100vw;
        }
    }

    @media screen and (min-width: $screen-md) {
        &.post--life,
        &.post--love {
            &:first-child {
                .post__image {
                    max-width: 60vw;
                }
            }
        }
    
        &:nth-child(even) {
            .post__text {
                order: 1;
                padding-right: 0;
                padding-left: 3.5vw;
            }
        }

        .post__content {
            flex-direction: row;
        }
    
        .post__text {
            width: 45%;
            flex-shrink: 0;
            padding-right: 3.5vw;
            z-index: 1;
            margin-bottom: 0;
    
            h3 {
                width: 173%;
            }
        }
    
        .post__image {
            max-height: 100%;
            max-width: 47vw;
            margin-bottom: auto;
        }

        .post__footnote {
            margin-top: 5vh;
        }
    }
}

.post__content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.post__heading {
    position: relative;
    z-index: 1;
}

.post__text {
    margin-bottom: 20px;
    position: relative;
    z-index: 1;

    p {
        margin-top: 0;

        &.t-9 {
            margin-bottom: 10px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (max-width: $screen-md - 1) {
        order: 2;

        h3 {
            display: none;
        }
    }
}

.post__image {
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}

// life
.post--life {
    &:nth-child(1) {
        h3 {
            width: 100%;
            font-size: $font-l;
            font-family: drukWideBold;
            line-height: 0.9;

            @media screen and (max-width: $screen-md - 1) {
                font-size: 8vw;
            }
        }
    }

    &:nth-child(2) {
        .post__text h3 { width: 100%; }
    }

    @media screen and (min-width: $screen-md) {
        .post__text {
            width: 40%;
        }
    
        .post__image {
            margin: auto;
            max-width: 51vw;
        }
    
        &:nth-child(3) {
            .post__image {
                margin-bottom: 20px;
            }
        }

        &:nth-child(5) {
            .post__image {
                margin-bottom: 0;
            }
        }

        &:nth-child(4) {
            .post__image {
                margin-top: 0;
            }
        }
    }
}

// passion
section.passion {
    background-image: url('/static/svgs/lion_gold.svg');
    background-position: 48vw 5vw;
    background-size: 25vw auto;
    background-repeat: no-repeat;
    overflow: hidden;

    .post__image {
        position: relative;
        bottom: -7vh;
        margin-bottom: 0;
    }

    @media screen and (min-width: $screen-md) {
        .post__image {     
            left: 4vw;
        }

        .post__text h3 {
            width: 110%;
        }
    }

    @media screen and (max-width: $screen-md - 1) {
        background-position: 70vw 5vw;

        .post__text {
            background: linear-gradient(to bottom, transparent 0, $light 40px);
            padding-top: 60px;
        }

        .post__heading {
            margin-bottom: 0;
        }
    }
}

// hobby
.post--hobby {
    @media screen and (min-width: $screen-md) {
        h3 { max-width: 80%; }

        &:nth-last-child(-n+2) {
            h3 { font-family: drukWideBold; }
        }
    }
}

