@keyframes slide-next {
    0% { transform: translate3d(100vw, 0, 0); opacity: 1; }
    100% { transform: translate3d(0, 0, 0); opacity: 1; }
}

.clubs {
    .slide {
        animation: slide-next 0.3s ease-in;

        &.club-bg {
            animation-duration: 0.5s;
        }

        &.club__bottom {
            animation-duration: 0.4s;
        }
    }
}

.club__top, .club__bottom {
    position: relative;
    display: flex;
}

.club__copy {
    position: relative;
    margin-left: 2vw;
    margin-bottom: 4vw;
    width: 50%;
}

.club__name {
    word-spacing: 50%;
}

.club-bg__image {
    height: auto;
    width: 100%;
    margin: 4vw 0 -13vw;
    transform: translate3d(100vw, 0, 0);
    transition: transform 0.2s ease-in;
    
    @media screen and (min-width: $screen-md) {
        position: absolute;
        height: 93%;
        width: auto;
        top: 6px;
        bottom: 0;
        left: 47vw;
        margin: 0;
    }
}

.active .club-bg__image{
    transform: translate3d(0, 0, 0);
    transition: transform 0.4s ease-in 0.1s;
}

.club-player {
    position: absolute;
    height: 78%;
    top: 17%;
    right: 2%;
    transform: translate3d(100vw, 0, 0);
    transition: transform 0.2s ease-in;

    &.active {
        transform: translate3d(0, 0, 0);
        transition: transform 0.5s ease-in 0.2s;
    }
}

.club-top__image {
    height: 100%;
    width: auto;
}

.club__bottom {
    align-items: flex-end;
}

.club__logo {
    width: 11.5vw;
}

.club__count-bar {
    margin-left: 20vw;
}


@media screen and (max-width: $screen-md - 1) {
    .clubs__menu.t-7 {
        font-size: 5vw;

        li {
            opacity: 1;
        }
    }

    .club__top {
        flex-direction: column;
    }

    .club__copy {
        margin-left: 0;
        margin-bottom: 9vw;
    }

    .club-player {
        height: 64vw;
        top: 50vw;
        right: 2%;
    }

    .club__bottom {
        justify-content: space-between
    }
    
    .club__logo {
        width: 17vw;
        order: 1;
    }
    
    .club__count-bar {
        margin-left: 0;
    }

    .club-bg {
        width: 0px;

        &.active {
            width: 100%;
        }
    }

    .club-bg__image {
        width: 86vw;
    }
}

@media screen and (max-width: $screen-xs - 1) {
    .club__copy {
        width: 70%;
    }
}