.fifa__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    position: relative;

    @media screen and (min-width: $screen-sm) {
        height: 60vh;
        max-height: 60vw;
    }

    @media screen and (min-width: $screen-md) {
        height: 87vh;
        max-height: 87vw;

        @media screen and (orientation: portrait) {
            height: 60vh;
            max-height: 60vw;
        }
    }
}

.fifa__top {
    max-width: 75%;

    @media screen and (min-width: $screen-xs) {
        max-width: 100%;
    }
}

.fifa__image {
    position: relative;
    width: 100%;
    right: -20%;
    height: auto;
    margin-top: -50px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;

    @media screen and (min-width: $screen-xs) {
        height: auto;
        width: 90%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -7vw;
        margin-top: 7vh;
    }

    @media screen and (min-width: $screen-md) {
        height: 100%;
        width: auto;
    }
}

.overlay {
    .fifa__image {
        opacity: 0.7 !important;
        animation-fill-mode: none !important;
    }
}

.fifa__copy {
    margin: 40px 0;
}

.fifa__top, .fifa__copy, .fifa__count-bar {
    position: relative;
    z-index: 1;
}