.national-team__content {
    position: relative;
    margin-bottom: 50px;

    @media screen and (min-width: $screen-xs) {
        margin-bottom: 60px;
    }
}

.national-team__top {
    position: relative;
    z-index: 1;

    img { 
        width: 23vw;
        max-width: 265px;
        margin: auto 20px auto 0;
    }

    @media screen and (max-width: $screen-xs) {
        display: flex;
        align-items: center;
    }
}

.national-team__bottom {
    position: relative;
    z-index: 1;

    @media screen and (max-width: $screen-xs) {
        .t-3 { font-size: 50px; }
    }
}


.national-team__image {
    width: 100%;

    &.national-team__bw {
        position: absolute;
        top: 0;
        opacity: 1;
        transition: opacity .2s ease-in-out .4s;

        &.fadeOut {
            opacity: 0 !important;
            animation-fill-mode: none !important;
        }
    }
}

.national-team__image-wrapper,
.national-team__image {
    @media screen and (min-width: $screen-md) {
        position: absolute;
        height: 100%;
        width: auto;
        top: 0;
        bottom: 0;
        right: 0;
    }
}

@media screen and (max-width: $screen-md - 1) {
    .national-team__image-wrapper {
        position: relative;
        margin: -15px 0;

        @media screen and (min-width: $screen-xs) {
            margin: -25px 0;
        }
    }

    .national-team__bw {
        left: 0;
    }
}