// fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@font-face {
    font-family: drukBold;
    src: url('/static/fonts/DrukBoldItalic.otf');
}

@font-face {
    font-family: drukTextBold;
    src: url('/static/fonts/DrukText-BoldItalic.otf');
}

@font-face {
    font-family: drukWideBold;
    src: url('/static/fonts/DrukTextWide-BoldItalic.otf');
}


@font-face {
    font-family: drukWideSuper;
    src: url('/static/fonts/DrukTextWide-SuperItalic.otf');
}

// breakpoints
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 960px;
$screen-lg: 1200px;
$screen-xl: 1440px;

// colors
$dark: #232425;
$light: #dadbdb;
$grey: #58595b;
$gold: #927c50;

// font sizes
$font-xxxs: 1.15vw; // 16px
$font-xxs: 1.65vw; // 23px
$font-xs: 3.3vw; // 40px
$font-s: 3.5vw; // 46px
$font-m: 4.3vw; // 59px
$font-l: 5.8vw; // 80px
$font-xl: 8.3vw; // 120px
$font-xxl: 11vw; // 140px
$font-xxxl: 20vw; // 259px

$min-font-xxxs: 12px;
$min-font-xxs: 14px;
$min-font-s: 18px;
$min-font-l: 28px;
$min-font-xl: 43px;

// typography
.t-1 { font-size: $font-xxxl; font-family: drukBold; line-height: 0.8; }
.t-2 { font-size: $font-xxl; font-family: drukBold; line-height: 0.9; }
.t-3 { font-size: $font-xl; font-family: drukTextBold; line-height: 0.9; letter-spacing: -1.5px; }
.t-4 { font-size: $font-l; }
.t-5 { font-size: $font-m; line-height: 0.9; }
.t-6 { font-size: $font-s; line-height: 1.1; }
.t-7 { font-size: $font-xs; font-family: drukTextBold; }
.t-8 { font-size: $font-xxs; font-family: drukWideSuper; line-height: 1.3; }
.t-9 { font-size: $font-xxxs; font-family: 'Montserrat', Geneva, sans-serif; text-transform: none; }

@media screen and (max-width: 870px) {
    .t-8 { font-size: $min-font-xxs !important; }
    .t-9 { font-size: $min-font-xxxs !important; }
}

@media screen and (max-width: $screen-xs) { 
    .t-3 { font-size: $min-font-xl; }
    .t-6 { font-size: $min-font-s; }
    .t-6.t-outline { font-size: $min-font-l; }
}

.t-grey, .t-grey p { color: $grey; }
.t-dark, .t-dark p { color: $dark; }
.t-light, .t-light p { color: $light; }
.t-gold, .t-gold p { color: $gold; }

.t-outline {
    -webkit-text-stroke-width: 0.5px;
    color: transparent;

    @media screen and (min-width: $screen-sm) { -webkit-text-stroke-width: 1px; }
    @media screen and (min-width: $screen-lg) { -webkit-text-stroke-width: 1.5px; }

    &.t-gold { -webkit-text-stroke-color: $gold; }
    &.t-light { -webkit-text-stroke-color: $light; }
}

.t-center { text-align: center; }
.t-left { text-align: left; }


// background
.bg-dark { background-color: $dark; }
.bg-light { background-color: $light; }

// utils
.mb-0 { margin-bottom: 0; }
.d-flex { display: flex; }
.d-none { display: none; }
.d-sm-none { @media screen and (min-width: $screen-sm) { display: none; } }
.d-md-none { @media screen and (min-width: $screen-md) { display: none; } }
.p-rel { position: relative; }
.p-abs { position: absolute; }
.p-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// global styles
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-transform: uppercase;
    color: $dark;
    -webkit-font-smoothing: antialiased;
    position: relative;
    overflow-x: hidden;
}

p {
    font-family: drukWideBold;
    color: $light;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    list-style: none;
}

button {
    border: none;
    color: inherit;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}

.page {
    background-color: $dark;
    min-height: 100vh;

    &.page--shop {
        background-color: $light;
    }

    &.loading {
        height: 100vh;
        overflow: hidden;
    }
}

.section {
    width: 100vw;
    padding: 6vh 7vw;
    position: relative;
    margin-bottom: 6vw;
    overflow: hidden;

    p { 
        max-width: 35vw;
        margin: 20px 0;
        line-height: 1.3;

        @media screen and (max-width: $screen-md - 1) {
            font-size: 3vw;
            max-width: 60vw;
        }
    }

    &:not(.section--flex) {
        height: 100vh;

        &:not(.intro) {
            @media screen and (min-width: $screen-md) and (orientation: portrait) {
                max-height: 80vw;
            }
        }
    }
}

.section--flex {
    min-height: auto;
}

.section-title {
    margin-bottom: 10vw;

    @media screen and (min-width: $screen-sm) {
        margin-bottom: 4vw;
    }
}

.cta-hover {
    padding-left: 0;
    padding-right: 35px;
    transition: all 0.15s ease-out;

    &.active,
    &:focus,
    &:hover {
      padding-left: 35px;
      padding-right: 0;
    }
}

.divider {
    margin: 0 10px;
}


// components
@import './menu.scss';
@import './intro.scss';
@import './statistics.scss';
@import './national-team.scss';
@import './fifa.scss';
@import './clubs.scss';
@import './sponsor.scss';
@import './footer.scss';
@import './shop.scss';
@import './about.scss';
@import './loader.scss';
@import './video.scss';
