@font-face {
  font-family: drukBold;
  src: url("/static/fonts/DrukBoldItalic.otf"); }

@font-face {
  font-family: drukTextBold;
  src: url("/static/fonts/DrukText-BoldItalic.otf"); }

@font-face {
  font-family: drukWideBold;
  src: url("/static/fonts/DrukTextWide-BoldItalic.otf"); }

@font-face {
  font-family: drukWideSuper;
  src: url("/static/fonts/DrukTextWide-SuperItalic.otf"); }

.t-1 {
  font-size: 20vw;
  font-family: drukBold;
  line-height: 0.8; }

.t-2 {
  font-size: 11vw;
  font-family: drukBold;
  line-height: 0.9; }

.t-3 {
  font-size: 8.5vw;
  font-family: drukTextBold;
  line-height: 0.9; }

.t-4 {
  font-size: 80px; }

.t-5 {
  font-size: 4.3vw;
  line-height: 0.9; }

.t-6 {
  font-size: 3.6vw;
  line-height: 1.1; }

.t-7 {
  font-size: 40px; }

.t-8 {
  font-size: 1.65vw;
  font-family: drukWideSuper;
  line-height: 1.2; }

@media screen and (max-width: 480px) {
  .t-3 {
    font-size: 45px; }
  .t-6.t-outline {
    font-size: 28px; }
  .t-6 {
    font-size: 18px; }
  .t-8 {
    font-size: 15px; } }

.t-dark {
  color: #232425; }

.t-grey {
  color: #58595b; }

.t-light {
  color: #dadbdb; }

.t-gold {
  color: #927c50; }

.t-outline {
  -webkit-text-stroke-width: 0.5px;
  color: transparent; }
  @media screen and (min-width: 768px) {
    .t-outline {
      -webkit-text-stroke-width: 1px; } }
  @media screen and (min-width: 1200px) {
    .t-outline {
      -webkit-text-stroke-width: 1.5px; } }
  .t-outline.t-gold {
    -webkit-text-stroke-color: #927c50; }
  .t-outline.t-light {
    -webkit-text-stroke-color: #dadbdb; }

.t-center {
  text-align: center; }

.t-left {
  text-align: left; }

.bg-dark {
  background-color: #232425; }

.bg-light {
  background-color: #dadbdb; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  text-transform: uppercase;
  color: #232425;
  -webkit-font-smoothing: antialiased;
  position: relative;
  overflow-x: hidden; }

p {
  font-family: drukWideBold;
  color: #dadbdb; }

a {
  text-decoration: none;
  color: #232425; }

ul {
  margin: 0;
  list-style: none; }

button {
  border: none;
  color: inherit;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  cursor: pointer; }

section {
  width: 100vw;
  min-height: 100vh;
  padding: 6vh 7vw;
  overflow: hidden;
  position: relative;
  margin-bottom: 6vw; }
  section p {
    max-width: 35vw;
    margin: 20px 0;
    line-height: 1.3; }
    @media screen and (max-width: 959px) {
      section p {
        font-size: 3vw;
        max-width: 60vw; } }

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 2vh 7vw; }
  @media screen and (min-width: 768px) {
    .header {
      padding: 3vh 7vw; } }
  .header img {
    width: 100px;
    z-index: 99; }
    @media screen and (min-width: 480px) {
      .header img {
        width: 120px; } }
    @media screen and (min-width: 960px) {
      .header img {
        width: 135px; } }
    @media screen and (min-width: 1440px) {
      .header img {
        width: 146px; } }

.menu-btn {
  position: relative;
  width: 30px;
  height: 26px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 101; }
  .menu-btn span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #dadbdb;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out; }
    .menu-btn span:nth-child(1) {
      top: 3px; }
    .menu-btn span:nth-child(2) {
      top: 10px; }
    .menu-btn span:nth-child(3) {
      top: 17px; }
  .menu-btn.open span {
    background: #232425; }
  .menu-btn.open span:nth-child(1) {
    top: 10px;
    transform: rotate(140deg); }
  .menu-btn.open span:nth-child(2) {
    opacity: 0;
    left: -30px; }
  .menu-btn.open span:nth-child(3) {
    top: 10px;
    transform: rotate(-140deg); }

.nav-list {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  transform: translateX(100vw);
  background-color: transparent;
  transition: all 0.25s ease-in-out;
  z-index: 100; }
  .nav-list img {
    position: absolute;
    bottom: 0;
    left: 100%;
    max-height: 95%;
    transform: scale(0.5);
    transition: 0.2s ease 0.2s; }
  .nav-list ul {
    margin: 10vh auto auto 50%;
    position: relative;
    z-index: 101;
    line-height: 84px; }
    @media screen and (max-width: 768px) {
      .nav-list ul {
        line-height: 44px; } }
    @media screen and (max-width: 480px) {
      .nav-list ul {
        margin: 5vh 5vw; }
        .nav-list ul .t-8 {
          margin-top: 15px; } }
  .nav-list.open {
    transform: translateX(0);
    background-color: #dadbdb; }
    .nav-list.open img {
      transform: translateX(-95vw) scale(1); }
      @media screen and (max-width: 480px) {
        .nav-list.open img {
          max-height: 85%;
          transform: translateX(-90vw); } }
  .nav-list a {
    padding-left: 0;
    transition: all 0.2s ease-out; }
    .nav-list a:hover {
      padding-left: 30px; }

.intro {
  position: relative;
  background: url("/static/svgs/zuber_desktop.svg") no-repeat;
  background-size: cover;
  background-position: center; }
  .intro .intro__image {
    position: absolute;
    bottom: 0;
    left: 50%;
    max-height: 93%;
    transform: translateX(-50%); }
  .intro .intro__logo {
    width: 110px;
    position: absolute;
    bottom: 6%;
    right: 5%; }
  @media screen and (max-width: 480px) {
    .intro {
      background-size: 100% auto;
      height: 95vh; }
      .intro .intro__image {
        max-height: 75%; }
      .intro .intro__logo {
        width: 55px; } }

.statistics {
  background: url("/static/svgs/thunders.svg") no-repeat;
  background-size: 85% 90%;
  background-position: right 20px;
  margin-bottom: 40px; }
  @media screen and (max-width: 479px) {
    .statistics {
      background: none;
      margin-bottom: 0; } }

.statistics__content {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px; }
  @media screen and (max-width: 479px) {
    .statistics__content {
      flex-direction: column;
      margin-top: 20px; } }

.statistics__image {
  position: absolute;
  height: 78%;
  top: 20%; }
  @media screen and (max-width: 1199px) {
    .statistics__image {
      height: auto;
      max-height: 78%;
      max-width: 75%;
      bottom: 2%;
      left: 5vw;
      top: auto; } }

.stat-left {
  margin-right: 7vw; }

.stat-right__row {
  margin-bottom: 10px; }

@media screen and (max-width: 479px) {
  .stat-left__top.t-6 {
    font-size: 15vw; }
  .stat-left__bottom {
    display: flex; }
    .stat-left__bottom .t-1 {
      margin-right: 15px;
      font-size: 28vw; }
    .stat-left__bottom .t-2 {
      line-height: 0.8;
      font-size: 28vw; }
  .stat-right {
    margin-left: auto;
    margin-top: 20px; }
  .stat-right__row {
    margin-bottom: 5px; } }

@media screen and (min-width: 480px) {
  .stat-left__bottom .t-1 {
    margin-top: 3px; } }

.count-bar, .count-bar__item, .count-bar__label {
  display: flex;
  font-family: drukWideBold; }

.count-bar__label {
  flex-direction: column;
  margin-left: 10px;
  margin-right: 40px; }

@media screen and (max-width: 959px) {
  .count-bar__label {
    font-size: 2.5vw;
    margin-right: 30px; }
  .count-bar__count {
    font-size: 6.3vw; } }

@media screen and (max-width: 479px) {
  .count-bar {
    flex-direction: column; }
  .count-bar__item {
    margin: 3px 0; }
  .count-bar__label {
    font-size: 3vw; }
  .count-bar__count {
    font-size: 7.5vw;
    flex-basis: 15vw;
    text-align: right; } }

.national-team__content {
  position: relative;
  margin: 30px 0 50px; }
  @media screen and (min-width: 480px) {
    .national-team__content {
      margin: 50px 0 60px; } }

.national-team__top {
  position: relative;
  z-index: 1; }
  .national-team__top img {
    width: 23vw;
    max-width: 265px;
    margin: auto 20px auto 0; }
  @media screen and (max-width: 480px) {
    .national-team__top {
      display: flex;
      align-items: center; } }

.national-team__bottom {
  position: relative;
  z-index: 1; }
  @media screen and (max-width: 480px) {
    .national-team__bottom .t-3 {
      font-size: 50px; } }

.national-team__image {
  width: 100%;
  margin: -15px 0; }
  @media screen and (min-width: 480px) {
    .national-team__image {
      margin: -25px 0; } }
  @media screen and (min-width: 960px) {
    .national-team__image {
      position: absolute;
      height: 100%;
      width: auto;
      top: 0;
      bottom: 0;
      right: 0;
      margin: 0; } }

.fifa__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 82vh;
  position: relative; }

.fifa__top {
  max-width: 75%; }
  @media screen and (min-width: 480px) {
    .fifa__top {
      max-width: 100%; } }

.fifa__image {
  position: relative;
  width: 100%;
  right: -20%;
  height: auto;
  margin-top: -50px; }
  @media screen and (min-width: 768px) {
    .fifa__image {
      position: absolute;
      height: auto;
      width: 90%;
      top: 0;
      bottom: 0;
      right: -7vw;
      margin-top: 7vh; } }
  @media screen and (min-width: 960px) {
    .fifa__image {
      height: 100%;
      width: auto; } }

.fifa__copy {
  margin: 40px 0; }

.fifa__top, .fifa__copy, .fifa__count-bar {
  position: relative;
  z-index: 1; }


/*# sourceMappingURL=styles.chunk.css.map*/