@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@font-face {
  font-family: drukBold;
  src: url("/static/fonts/DrukBoldItalic.otf"); }

@font-face {
  font-family: drukTextBold;
  src: url("/static/fonts/DrukText-BoldItalic.otf"); }

@font-face {
  font-family: drukWideBold;
  src: url("/static/fonts/DrukTextWide-BoldItalic.otf"); }

@font-face {
  font-family: drukWideSuper;
  src: url("/static/fonts/DrukTextWide-SuperItalic.otf"); }

.t-1 {
  font-size: 20vw;
  font-family: drukBold;
  line-height: 0.8; }

.t-2 {
  font-size: 11vw;
  font-family: drukBold;
  line-height: 0.9; }

.t-3 {
  font-size: 8.3vw;
  font-family: drukTextBold;
  line-height: 0.9;
  letter-spacing: -1.5px; }

.t-4 {
  font-size: 5.8vw; }

.t-5 {
  font-size: 4.3vw;
  line-height: 0.9; }

.t-6 {
  font-size: 3.5vw;
  line-height: 1.1; }

.t-7 {
  font-size: 3.3vw;
  font-family: drukTextBold; }

.t-8 {
  font-size: 1.65vw;
  font-family: drukWideSuper;
  line-height: 1.3; }

.t-9 {
  font-size: 1.15vw;
  font-family: 'Montserrat', Geneva, sans-serif;
  text-transform: none; }

@media screen and (max-width: 870px) {
  .t-8 {
    font-size: 14px !important; }
  .t-9 {
    font-size: 12px !important; } }

@media screen and (max-width: 480px) {
  .t-3 {
    font-size: 43px; }
  .t-6 {
    font-size: 18px; }
  .t-6.t-outline {
    font-size: 28px; } }

.t-grey, .t-grey p {
  color: #58595b; }

.t-dark, .t-dark p {
  color: #232425; }

.t-light, .t-light p {
  color: #dadbdb; }

.t-gold, .t-gold p {
  color: #927c50; }

.t-outline {
  -webkit-text-stroke-width: 0.5px;
  color: transparent; }
  @media screen and (min-width: 768px) {
    .t-outline {
      -webkit-text-stroke-width: 1px; } }
  @media screen and (min-width: 1200px) {
    .t-outline {
      -webkit-text-stroke-width: 1.5px; } }
  .t-outline.t-gold {
    -webkit-text-stroke-color: #927c50; }
  .t-outline.t-light {
    -webkit-text-stroke-color: #dadbdb; }

.t-center {
  text-align: center; }

.t-left {
  text-align: left; }

.bg-dark {
  background-color: #232425; }

.bg-light {
  background-color: #dadbdb; }

.mb-0 {
  margin-bottom: 0; }

.d-flex {
  display: flex; }

.d-none {
  display: none; }

@media screen and (min-width: 768px) {
  .d-sm-none {
    display: none; } }

@media screen and (min-width: 960px) {
  .d-md-none {
    display: none; } }

.p-rel {
  position: relative; }

.p-abs {
  position: absolute; }

.p-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  text-transform: uppercase;
  color: #232425;
  -webkit-font-smoothing: antialiased;
  position: relative;
  overflow-x: hidden; }

p {
  font-family: drukWideBold;
  color: #dadbdb; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  margin: 0;
  list-style: none; }

button {
  border: none;
  color: inherit;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  outline: none;
  cursor: pointer; }

.page {
  background-color: #232425;
  min-height: 100vh; }
  .page.page--shop {
    background-color: #dadbdb; }
  .page.loading {
    height: 100vh;
    overflow: hidden; }

.section {
  width: 100vw;
  padding: 6vh 7vw;
  position: relative;
  margin-bottom: 6vw;
  overflow: hidden; }
  .section p {
    max-width: 35vw;
    margin: 20px 0;
    line-height: 1.3; }
    @media screen and (max-width: 959px) {
      .section p {
        font-size: 3vw;
        max-width: 60vw; } }
  .section:not(.section--flex) {
    height: 100vh; }
    @media screen and (min-width: 960px) and (orientation: portrait) {
      .section:not(.section--flex):not(.intro) {
        max-height: 80vw; } }

.section--flex {
  min-height: auto; }

.section-title {
  margin-bottom: 10vw; }
  @media screen and (min-width: 768px) {
    .section-title {
      margin-bottom: 4vw; } }

.cta-hover {
  padding-left: 0;
  padding-right: 35px;
  transition: all 0.15s ease-out; }
  .cta-hover.active, .cta-hover:focus, .cta-hover:hover {
    padding-left: 35px;
    padding-right: 0; }

.divider {
  margin: 0 10px; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 101;
  max-height: 0;
  overflow: visible; }

.page-heading {
  position: absolute;
  z-index: 80;
  top: 2vh;
  left: 7vw; }
  @media screen and (min-width: 768px) {
    .page-heading {
      top: 4vh; } }
  .page-heading img {
    width: 120px;
    cursor: pointer; }
    @media screen and (min-width: 480px) {
      .page-heading img {
        width: 140px; } }
    @media screen and (min-width: 960px) {
      .page-heading img {
        width: 150px; } }
    @media screen and (min-width: 1440px) {
      .page-heading img {
        width: 163px; } }

.header,
.page-heading {
  opacity: 0;
  transition: opacity 1s ease-in; }

.page.loaded .header,
.page.loaded .page-heading {
  opacity: 1; }

.menu-btn {
  margin: 0 7vw 0 auto;
  padding-top: 1.5vh;
  transition: 0.5s ease-in-out;
  z-index: 101;
  margin-left: auto; }
  @media screen and (min-width: 768px) {
    .menu-btn {
      padding-top: 4.5vh;
      cursor: pointer; } }
  .menu-btn > div {
    position: relative;
    height: 26px;
    width: 3vw;
    min-width: 25px; }
  .menu-btn span {
    display: block;
    position: absolute;
    height: 2.5px;
    width: 100%;
    background: #dadbdb;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }
    .menu-btn span:nth-child(1) {
      top: 3px; }
    .menu-btn span:nth-child(2) {
      top: 10px; }
    .menu-btn span:nth-child(3) {
      top: 17px; }
  .menu-btn.open span,
  .menu-btn.dark span {
    background: #232425;
    box-shadow: none; }
  .menu-btn.open span:nth-child(1) {
    top: 10px;
    transform: rotate(140deg); }
  .menu-btn.open span:nth-child(2) {
    opacity: 0;
    left: -30px; }
  .menu-btn.open span:nth-child(3) {
    top: 10px;
    transform: rotate(-140deg); }

.page--shop .menu-btn span {
  background: #232425;
  box-shadow: none; }

.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  transform: translateX(100vw);
  background-color: #dadbdb;
  transition: all 0.25s ease-in-out;
  z-index: 100; }
  .menu img {
    position: absolute;
    bottom: 0;
    left: 100%;
    max-height: 95%;
    max-width: 90%;
    transform: scale(0.5);
    transform-origin: bottom center;
    transition: 0.6s ease-in 0.2s; }
  .menu ul {
    margin: 10vh auto auto 50%;
    position: relative;
    z-index: 101;
    line-height: 1.6; }
    .menu ul .t-8 {
      margin-top: 40px; }
      @media screen and (max-width: 480px) {
        .menu ul .t-8 {
          margin-top: 15px; } }
    @media screen and (max-width: 960px) {
      .menu ul {
        margin-left: 60%; } }
    @media screen and (max-width: 480px) {
      .menu ul {
        margin: 5vh 5vw; } }
  .menu.open {
    transform: translateX(0); }
    .menu.open img {
      transform: translateX(-95vw) scale(1); }
      @media screen and (max-width: 1199px) {
        .menu.open img {
          max-height: 85%;
          transform: translateX(-100vw); } }
      @media screen and (max-width: 480px) {
        .menu.open img {
          transform: translateX(-90vw); } }

.toggle-lang {
  color: #58595b; }
  .toggle-lang button {
    cursor: pointer; }
    .toggle-lang button.active {
      color: #232425;
      cursor: text; }
    .toggle-lang button:hover {
      color: #232425; }

@keyframes focus {
  0% {
    filter: blur(50px);
    opacity: 0; }
  20% {
    filter: blur(40px);
    opacity: 1; }
  100% {
    filter: blur(0); } }

@keyframes zoom-in-focus {
  0% {
    filter: blur(50px);
    opacity: 0;
    max-height: 50%; }
  20% {
    filter: blur(50px);
    opacity: 0;
    max-height: 50%; }
  100% {
    filter: blur(0);
    opacity: 1;
    max-height: 93%; } }

@keyframes zoom-in-focus-sm {
  0% {
    filter: blur(50px);
    opacity: 0;
    max-height: 50%; }
  20% {
    filter: blur(50px);
    opacity: 0;
    max-height: 50%; }
  100% {
    filter: blur(0);
    opacity: 1;
    max-height: 77%; } }

@keyframes move-logo {
  0% {
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 50vh; }
  100% {
    width: 15vw;
    bottom: 6%;
    right: 5%;
    transform: none; } }

@keyframes move-logo-lg {
  0% {
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 50vh; }
  100% {
    width: 125px;
    bottom: 6%;
    right: 5%;
    transform: none; } }

.intro {
  overflow: hidden;
  margin-bottom: 0;
  position: relative;
  max-height: 100vh; }
  .intro .intro__bg-mobile {
    position: absolute;
    height: 100%;
    width: 120%;
    top: 3vh;
    left: -10%;
    animation: focus 3.5s ease-in 5s both; }
  .intro .intro__bg-desktop {
    display: none; }
  .intro .intro__image {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 77%;
    transform: translateX(-50%);
    animation: zoom-in-focus-sm 4s ease-in 5s both; }
  .intro .intro__logo {
    height: auto;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 50vh;
    animation: move-logo 1s ease-in 4.5s forwards; }
  @media screen and (min-width: 960px) and (orientation: landscape) {
    .intro .intro__bg-desktop {
      display: block;
      position: absolute;
      height: 100%;
      width: 110%;
      top: 0;
      left: -5%;
      animation: focus 3.5s ease-in 5s both; }
    .intro .intro__bg-mobile {
      display: none; }
    .intro .intro__image {
      height: 90%;
      animation: zoom-in-focus 4s ease-in 5s both; }
    .intro .intro__logo {
      animation: move-logo-lg 1s ease-in 4.5s forwards; } }

.page.loaded .intro__bg-desktop,
.page.loaded .intro__bg-mobile,
.page.loaded .intro__image {
  animation: none; }

.page.loaded .intro__logo {
  animation: none;
  width: 15vw;
  bottom: 6%;
  right: 5%;
  transform: none; }
  @media screen and (min-width: 960px) and (orientation: landscape) {
    .page.loaded .intro__logo {
      width: 125px; } }
  .page.loaded .intro__logo * {
    animation: none; }

.statistics {
  background: url("/static/svgs/thunders.svg") no-repeat;
  background-size: 85% 90%;
  background-position: right 20px;
  margin-bottom: 40px; }
  @media screen and (max-width: 959px) {
    .statistics {
      background: none;
      margin-bottom: 0;
      padding-bottom: 30vh; } }

.statistics__content {
  display: flex;
  justify-content: flex-end; }
  @media screen and (max-width: 959px) {
    .statistics__content {
      flex-direction: column; } }

.statistics__image {
  position: absolute;
  height: 78%;
  top: 20%;
  z-index: 1; }
  @media screen and (max-width: 1199px) {
    .statistics__image {
      height: auto;
      max-height: 78%;
      max-width: 60%;
      bottom: 2%;
      left: 5vw;
      top: auto; } }
  @media screen and (max-width: 479px) {
    .statistics__image {
      max-width: 75%;
      width: 75%; } }

.stat-left {
  margin-right: 7vw; }

.stat-right__row {
  margin-bottom: 10px; }

@media screen and (max-width: 959px) {
  .stat-left__top.t-6 {
    font-size: 15vw; }
  .stat-left__bottom {
    display: flex; }
    .stat-left__bottom .t-1 {
      margin-right: 15px;
      font-size: 28vw; }
    .stat-left__bottom .t-2 {
      line-height: 0.8;
      font-size: 28vw; }
  .stat-right {
    margin-left: auto;
    margin-top: 20px; }
  .stat-right__row {
    margin-bottom: 5px; } }

@media screen and (min-width: 960px) {
  .stat-left__bottom .t-1 {
    margin-top: 3px; } }

.count-bar, .count-bar__item, .count-bar__label {
  display: flex;
  font-family: drukWideBold; }

.count-bar__label {
  flex-direction: column;
  margin-left: 10px;
  margin-right: 40px; }

.count-bar--vertical {
  flex-direction: column; }

@media screen and (max-width: 959px) {
  .count-bar__label {
    font-size: 2.5vw;
    margin-right: 30px; }
  .count-bar__count {
    font-size: 6.3vw; } }

@media screen and (max-width: 479px) {
  .count-bar {
    flex-direction: column; }
  .count-bar__item {
    margin: 3px 0; }
  .count-bar__label {
    font-size: 3vw; }
  .count-bar__count {
    font-size: 7.5vw;
    flex-basis: 20vw;
    flex-shrink: 0;
    text-align: right; } }

.count-bar--vertical {
  display: inline-flex;
  flex-direction: column; }
  .count-bar--vertical .count-bar__item {
    margin: 3px 0; }
  .count-bar--vertical .count-bar__count {
    flex-basis: 20vw;
    flex-shrink: 1;
    text-align: right; }

.national-team__content {
  position: relative;
  margin-bottom: 50px; }
  @media screen and (min-width: 480px) {
    .national-team__content {
      margin-bottom: 60px; } }

.national-team__top {
  position: relative;
  z-index: 1; }
  .national-team__top img {
    width: 23vw;
    max-width: 265px;
    margin: auto 20px auto 0; }
  @media screen and (max-width: 480px) {
    .national-team__top {
      display: flex;
      align-items: center; } }

.national-team__bottom {
  position: relative;
  z-index: 1; }
  @media screen and (max-width: 480px) {
    .national-team__bottom .t-3 {
      font-size: 50px; } }

.national-team__image {
  width: 100%; }
  .national-team__image.national-team__bw {
    position: absolute;
    top: 0;
    opacity: 1;
    transition: opacity .2s ease-in-out .4s; }
    .national-team__image.national-team__bw.fadeOut {
      opacity: 0 !important;
      animation-fill-mode: none !important; }

@media screen and (min-width: 960px) {
  .national-team__image-wrapper,
  .national-team__image {
    position: absolute;
    height: 100%;
    width: auto;
    top: 0;
    bottom: 0;
    right: 0; } }

@media screen and (max-width: 959px) {
  .national-team__image-wrapper {
    position: relative;
    margin: -15px 0; } }
  @media screen and (max-width: 959px) and (min-width: 480px) {
    .national-team__image-wrapper {
      margin: -25px 0; } }

@media screen and (max-width: 959px) {
  .national-team__bw {
    left: 0; } }

.fifa__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; }
  @media screen and (min-width: 768px) {
    .fifa__content {
      height: 60vh;
      max-height: 60vw; } }
  @media screen and (min-width: 960px) {
    .fifa__content {
      height: 87vh;
      max-height: 87vw; } }
  @media screen and (min-width: 960px) and (orientation: portrait) {
    .fifa__content {
      height: 60vh;
      max-height: 60vw; } }

.fifa__top {
  max-width: 75%; }
  @media screen and (min-width: 480px) {
    .fifa__top {
      max-width: 100%; } }

.fifa__image {
  position: relative;
  width: 100%;
  right: -20%;
  height: auto;
  margin-top: -50px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out; }
  @media screen and (min-width: 480px) {
    .fifa__image {
      height: auto;
      width: 90%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: -7vw;
      margin-top: 7vh; } }
  @media screen and (min-width: 960px) {
    .fifa__image {
      height: 100%;
      width: auto; } }

.overlay .fifa__image {
  opacity: 0.7 !important;
  animation-fill-mode: none !important; }

.fifa__copy {
  margin: 40px 0; }

.fifa__top, .fifa__copy, .fifa__count-bar {
  position: relative;
  z-index: 1; }

@keyframes slide-next {
  0% {
    transform: translate3d(100vw, 0, 0);
    opacity: 1; }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

.clubs .slide {
  animation: slide-next 0.3s ease-in; }
  .clubs .slide.club-bg {
    animation-duration: 0.5s; }
  .clubs .slide.club__bottom {
    animation-duration: 0.4s; }

.club__top, .club__bottom {
  position: relative;
  display: flex; }

.club__copy {
  position: relative;
  margin-left: 2vw;
  margin-bottom: 4vw;
  width: 50%; }

.club__name {
  word-spacing: 50%; }

.club-bg__image {
  height: auto;
  width: 100%;
  margin: 4vw 0 -13vw;
  transform: translate3d(100vw, 0, 0);
  transition: transform 0.2s ease-in; }
  @media screen and (min-width: 960px) {
    .club-bg__image {
      position: absolute;
      height: 93%;
      width: auto;
      top: 6px;
      bottom: 0;
      left: 47vw;
      margin: 0; } }

.active .club-bg__image {
  transform: translate3d(0, 0, 0);
  transition: transform 0.4s ease-in 0.1s; }

.club-player {
  position: absolute;
  height: 78%;
  top: 17%;
  right: 2%;
  transform: translate3d(100vw, 0, 0);
  transition: transform 0.2s ease-in; }
  .club-player.active {
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s ease-in 0.2s; }

.club-top__image {
  height: 100%;
  width: auto; }

.club__bottom {
  align-items: flex-end; }

.club__logo {
  width: 11.5vw; }

.club__count-bar {
  margin-left: 20vw; }

@media screen and (max-width: 959px) {
  .clubs__menu.t-7 {
    font-size: 5vw; }
    .clubs__menu.t-7 li {
      opacity: 1; }
  .club__top {
    flex-direction: column; }
  .club__copy {
    margin-left: 0;
    margin-bottom: 9vw; }
  .club-player {
    height: 64vw;
    top: 50vw;
    right: 2%; }
  .club__bottom {
    justify-content: space-between; }
  .club__logo {
    width: 17vw;
    order: 1; }
  .club__count-bar {
    margin-left: 0; }
  .club-bg {
    width: 0px; }
    .club-bg.active {
      width: 100%; }
  .club-bg__image {
    width: 86vw; } }

@media screen and (max-width: 479px) {
  .club__copy {
    width: 70%; } }

.sponsor__content {
  display: flex; }

.sponsor__title {
  width: 75vw;
  position: relative;
  margin-right: 10vw; }
  @media screen and (min-width: 480px) {
    .sponsor__title {
      width: 70vw; } }

.sponsor__copy {
  display: none; }

.sponsor__copy-lg {
  margin: 0; }

.sponsor__logo {
  position: absolute;
  top: 0; }

.sponsor__image {
  position: relative;
  width: 70%;
  text-align: center;
  margin: -5vw 15% 0; }

@media screen and (max-width: 959px) {
  .sponsor {
    padding-top: 10vh; }
  .sponsor__logo {
    top: 5vh;
    max-width: 50vw; }
  .sponsor__copy-lg {
    display: none; }
  p.sponsor__copy {
    display: block;
    font-size: 2vw;
    margin-left: auto;
    margin-bottom: 0;
    max-width: 70vw;
    text-align: right; } }

.site-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  padding-top: 10vh;
  padding-bottom: 15vh; }
  .site-footer a:hover {
    color: #dadbdb; }
  @media screen and (max-width: 768px) {
    .site-footer {
      text-align: center;
      flex-direction: column;
      font-size: 3vw; }
      .site-footer .site-footer__social-links {
        margin-bottom: 30px;
        justify-content: center; } }

.site-footer__social-links {
  display: flex; }

.page--shop .site-footer a:hover {
  color: #232425; }

.product-list {
  margin-top: 7vw; }

.product-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 8vw; }
  .product-item:last-child {
    margin-bottom: 0; }
  .product-item .product-item__text p {
    margin: 10px 0;
    margin-top: 20px; }
  .product-item .product-item__image {
    margin-bottom: 10px;
    width: 100%; }
  @media screen and (min-width: 768px) {
    .product-item {
      flex-direction: row; }
      .product-item .product-item__text {
        flex-grow: 1;
        width: 43%; }
        .product-item .product-item__text p {
          margin-top: 40px;
          width: 60%; }
      .product-item .product-item__image {
        width: 57%;
        margin-bottom: auto;
        padding-right: 5vw; }
      .product-item:nth-child(odd) .product-item__image {
        order: 1;
        padding-left: 5vw;
        padding-right: 0; } }

.product-item__button {
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid #232425;
  margin-top: 20px;
  z-index: 0; }
  .product-item__button:focus:before, .product-item__button:hover:before {
    transform: scaleX(1);
    transform-origin: left; }

.product-item__button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: .1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: -1; }

.about section {
  padding-top: 7vw; }
  .about section.life {
    padding-top: 15vw; }
    @media screen and (min-width: 960px) {
      .about section.life {
        padding-top: 10vw; } }

.post {
  margin-bottom: 15vw;
  position: relative; }
  .post:last-child {
    margin-bottom: 0; }
  .post .t-6 {
    margin-bottom: 4vw; }
  .post .post__image {
    width: 100vw; }
  @media screen and (max-width: 959px) {
    .post p,
    .post .post__heading,
    .post .post__footnote {
      max-width: 100%; }
    .post .post__heading {
      margin-bottom: -7vw;
      position: relative;
      z-index: 1; }
      .post .post__heading .t-gold {
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }
    .post .post__image {
      margin: 0 0 70px;
      min-width: 100%;
      max-width: 100%; } }
  @media screen and (max-width: 767px) {
    .post .post__image {
      margin: 0 -7vw 40px;
      min-width: 100vw;
      max-width: 100vw; } }
  @media screen and (min-width: 960px) {
    .post.post--life:first-child .post__image, .post.post--love:first-child .post__image {
      max-width: 60vw; }
    .post:nth-child(even) .post__text {
      order: 1;
      padding-right: 0;
      padding-left: 3.5vw; }
    .post .post__content {
      flex-direction: row; }
    .post .post__text {
      width: 45%;
      flex-shrink: 0;
      padding-right: 3.5vw;
      z-index: 1;
      margin-bottom: 0; }
      .post .post__text h3 {
        width: 173%; }
    .post .post__image {
      max-height: 100%;
      max-width: 47vw;
      margin-bottom: auto; }
    .post .post__footnote {
      margin-top: 5vh; } }

.post__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.post__heading {
  position: relative;
  z-index: 1; }

.post__text {
  margin-bottom: 20px;
  position: relative;
  z-index: 1; }
  .post__text p {
    margin-top: 0; }
    .post__text p.t-9 {
      margin-bottom: 10px; }
    .post__text p:last-child {
      margin-bottom: 0; }
  @media screen and (max-width: 959px) {
    .post__text {
      order: 2; }
      .post__text h3 {
        display: none; } }

.post__image {
  margin-bottom: 10px;
  max-width: 100%;
  height: auto; }

.post--life:nth-child(1) h3 {
  width: 100%;
  font-size: 5.8vw;
  font-family: drukWideBold;
  line-height: 0.9; }
  @media screen and (max-width: 959px) {
    .post--life:nth-child(1) h3 {
      font-size: 8vw; } }

.post--life:nth-child(2) .post__text h3 {
  width: 100%; }

@media screen and (min-width: 960px) {
  .post--life .post__text {
    width: 40%; }
  .post--life .post__image {
    margin: auto;
    max-width: 51vw; }
  .post--life:nth-child(3) .post__image {
    margin-bottom: 20px; }
  .post--life:nth-child(5) .post__image {
    margin-bottom: 0; }
  .post--life:nth-child(4) .post__image {
    margin-top: 0; } }

section.passion {
  background-image: url("/static/svgs/lion_gold.svg");
  background-position: 48vw 5vw;
  background-size: 25vw auto;
  background-repeat: no-repeat;
  overflow: hidden; }
  section.passion .post__image {
    position: relative;
    bottom: -7vh;
    margin-bottom: 0; }
  @media screen and (min-width: 960px) {
    section.passion .post__image {
      left: 4vw;
      bottom: -10vh; }
    section.passion .post__text h3 {
      width: 110%; } }
  @media screen and (max-width: 959px) {
    section.passion {
      background-image: none;
      margin-bottom: 15vw; }
      section.passion .hero-wrapper {
        background-image: url("/static/svgs/lion_gold.svg");
        background-position: 0 0;
        background-size: 50vw auto;
        background-repeat: no-repeat;
        padding-top: 40px;
        margin-top: 25px; }
      section.passion .post__heading {
        margin-bottom: 7vw; }
      section.passion .post__text {
        order: initial; }
      section.passion .post__image {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        margin: 0 auto; } }

@media screen and (min-width: 960px) {
  .post--hobby h3 {
    max-width: 80%; }
  .post--hobby:nth-last-child(-n+2) h3 {
    font-family: drukWideBold; } }

@keyframes draw {
  0% {
    stroke-dashoffset: 110; }
  40% {
    stroke-dashoffset: 110; }
  90% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes draw-small {
  0% {
    stroke-dashoffset: 21; }
  35% {
    stroke-dashoffset: 21; }
  65% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes draw-reverse-small {
  0% {
    stroke-dashoffset: 42; }
  35% {
    stroke-dashoffset: 42; }
  65% {
    stroke-dashoffset: 21; }
  100% {
    stroke-dashoffset: 21; } }

@keyframes draw-reverse-medium {
  0% {
    stroke-dashoffset: 140; }
  40% {
    stroke-dashoffset: 140; }
  90% {
    stroke-dashoffset: 70; }
  100% {
    stroke-dashoffset: 70; } }

.cls-1, .cls-12, .cls-3, .cls-5 {
  fill: none; }

.cls-2 {
  clip-path: url(#clip-path); }

.cls-4 {
  clip-path: url(#clip-path-2); }

.cls-6 {
  clip-path: url(#clip-path-3); }

.cls-7 {
  clip-path: url(#clip-path-4); }

.cls-8 {
  clip-path: url(#clip-path-5); }

.cls-9 {
  clip-path: url(#clip-path-6); }

.cls-10 {
  clip-path: url(#clip-path-7); }

.cls-11 {
  clip-path: url(#clip-path-8); }

.cls-13 {
  clip-path: url(#clip-path-9); }

.cls-14 {
  clip-path: url(#clip-path-10); }

.cls-15 {
  clip-path: url(#clip-path-11); }

.cls-3 {
  stroke-width: 4.5px; }

.cls-12 {
  stroke-width: 4.7px; }

.cls-5 {
  stroke-width: 6px; }

.cls-12, .cls-3, .cls-5 {
  stroke: #dadbdb;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 110;
  stroke-dashoffset: 0;
  animation: draw 1s ease-in 5 alternate both; }

#cl, #cr {
  stroke-dasharray: 21; }

#cr {
  animation-name: draw-small; }

#cl {
  animation-name: draw-reverse-small;
  animation-direction: alternate-reverse; }

.cc {
  stroke-dasharray: 70;
  animation-name: draw-reverse-medium;
  animation-direction: alternate-reverse; }

video:focus {
  outline: none; }

.video__button {
  position: absolute;
  bottom: 10px;
  left: 10px; }
  @media screen and (min-width: 1200px) {
    .video__button {
      bottom: 20px;
      left: 30px; } }
  .video__button:hover {
    color: white; }
  .video__button .loader {
    width: 30px;
    height: auto; }
    .video__button .loader .cls-12, .video__button .loader .cls-3, .video__button .loader .cls-5 {
      animation-iteration-count: infinite; }

@media screen and (max-width: 767px) {
  .video {
    padding: 6vh 0; } }

.video video {
  background-color: rgba(255, 255, 255, 0.1); }


/*# sourceMappingURL=styles.chunk.css.map*/